.storyTitle {
    font-family: 'Montserrat', Times, serif;
}

.authorName {
    font-family: 'Montserrat', Times, serif;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(#b2b9b9, #707c88);
    color: white;
}

footer {
    padding: 10px;
    background-image: linear-gradient(#808b97, #a8adb4);
    color: white;
}